dist: focal
language: python
matrix:
  include:
    - python: "3.8"
      env: TOXENV=py38
    - python: "3.9"
      env: TOXENV=py39
    - python: "3.10"
      env: TOXENV=py310
    - python: "3.11"
      env: TOXENV=py311
    - python: pypy3.8-7.3.9
      dist: xenial
      env: TOXENV=pypy3
    - env: TOXENV=codestyle
    - env: TOXENV=lint
    - env: TOXENV=typecheck
python: "3.10"
install: pip install tox
script: tox
