name: build
on:
  pull_request: {}
  push:
    branches:
      - "master"
    tags-ignore:
      - "**"
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        language:
          [
            {python-version: "3.8", toxenv: "py38"},
            {python-version: "3.9", toxenv: "py39"},
            {python-version: "3.10", toxenv: "py310"},
            {python-version: "3.11", toxenv: "py311"},
            {python-version: "3.12", toxenv: "py312"},
            {python-version: "pypy3.8", toxenv: "pypy38"},
            {python-version: "pypy3.9", toxenv: "pypy39"},
            {python-version: "pypy3.10", toxenv: "pypy310"},
          ]
        include:
          - os: ubuntu-latest
            language: {python-version: "3.8", toxenv: "codestyle"}
          - os: ubuntu-latest
            language: {python-version: "3.8", toxenv: "lint"}
          - os: ubuntu-latest
            language: {python-version: "3.8", toxenv: "typecheck"}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.language.python-version }}
          check-latest: true
      - name: Install Python requirements
        run: |
          pip install --upgrade --system tox tox-uv
      - name: Test
        run: tox
        env:
          TOXENV: ${{ matrix.language.toxenv }}
